@import url(../vendor/normalize.css);

body {
  font-family: "Lato", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #eee;
  background-color: #303841;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 544px;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  margin: 20px auto 0;
  padding: 0;
}

.header__span-accent {
  display: block;
  font-family: "Playfair Display", arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #f6c90e;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #3a4750;
  width: 544px;
  border-radius: 10px;
  box-shadow: 10px 10px #121;
  margin: 10px auto;
  padding: 8px;
}

.nav__logo {
  width: 65px;
  height: auto;
  position: relative;
  margin: 10px auto 20px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #f6c90e;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.nav__link:hover {
  color: #eee;
}

.content {
  max-width: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.content__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.item__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #f6c90e;
  margin: 0;
  padding: 0;
}

.item__add-button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: 0.02s;
  border: 2px solid #eee;
}

.tiles {
  margin-top: 20px;
}

.tile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile {
  background-color: #f6c90e;
  color: #303841;
  width: 520px;
  height: auto;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}

.tile__description {
  max-width: 440px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
}

.tile__content {
  display: flex;
}

.tile__checkbox {
  align-self: flex-start;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.tile__checkbox:checked {
  accent-color: #3a4750;
}

.tile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 40px;
  width: 18px;
  height: 20px;
  border: none;
  margin: 0;
  flex-shrink: 0;
  padding: 0;
}

.tile__delete-button {
  background: transparent url(../images/rubbish.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 12px;
  width: 18px;
  height: 18px;
  border: none;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.tile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.tile__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.footer {
  margin: 35px auto 20px;
  text-align: center;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;
  padding: 0 19px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  width: 430px;
  background-color: #eee;
  margin: auto;
  border-radius: 10px;
  padding: 36px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: none;
  background-image: url(../images/desktop-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.02s;
}

.modal__heading {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
  color: #303841;
  text-align: left;
  margin: 0 0 45px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  border: none;
}

.modal__input {
  width: 100%;
  padding: 0 0 13px;
  color: #303841;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background-color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:focus {
  outline: none;
}

.modal__button {
  margin: 48px 0 0;
  padding: 0;
  background-color: #303841;
  max-width: 100%;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  color: #eee;
  font-size: 18px;
  line-height: 1.1;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.modal__button:hover {
  opacity: 80%;
  cursor: pointer;
  transition: 0.02s;
}

/* styles for small to large smartphones */
/* @media screen and (max-width: 600px) and (min-width: 320px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }
  .modal__close {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: transparent;
    bottom: calc(100% + 20px);
    left: calc(100% - 30px);
    border: none;
    background-image: url(../images/mobile-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 1.1;
    text-align: left;
    margin: 0 0 75px;
  }
  .modal__button {
    margin: 45px 0 0;
  }
} */

@media only screen and (max-width: 600px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .header__title,
  .content,
  .footer {
    width: 100%;
    text-align: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
    background-color: #3a4750;
    width: 100%;
    margin: 10px auto;
    padding: 8px 0;
  }

  .tile {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
  }

  .tile__description {
    width: 100%;
    max-width: 450px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
  }

  .item__add-button {
    width: 100%;
    max-width: 150px;
  }

  .footer__content {
    padding: 0 20px;
  }
}

/* my colors:
body font: #EEEEEE
bg: #303841
nav bg: #3A4750
tile/heading/buttons: #F6C90E
ref: https://colorhunt.co/palette/3038413a4750f6c90eeeeeee
*/
